*{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(90deg, rgba(36,29,253,1) 8%, rgba(252,84,69,1) 100%);
    padding: 10px;
    position: relative;
}

.app{
    width: 100%;
    max-width: 700px;
    min-height: 400px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.app h1{
    display: flex;
    gap: 20px;
}

.app h1 img{
    height: 40px;
    background: none;
    padding-bottom: 5px;
}

.upload{
    margin: 70px 0;
    display: flex;
    justify-content: center;
    gap: 5px;

}

.upload input{
    width: 30%;
    padding: 5px;
}

.upload button{
    border: none;
    background: rgb(79, 82, 231);
    padding: 10px;
    border-radius: 10px;
    font-size: larger;
}

.uploaded-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.image {
    padding-top: 20px;
    position: relative;
}

.image img{
    width: 300px;
    padding: 5px;
}

.image span {
    position: absolute;
    font-size: 30px;
    padding: 2px 5px;
    color: #000000;
    width: 30px;
    height: 30px;

}

.image span:hover {
    color: rgb(245, 74, 74);
}

.key {
    display: none;
}